.button {
  & {
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 24px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--brand-main);
    color: var(--white);
    font-size: 20px;
    padding: 2px 28px;
    transition: var(--transition-default);
    transition-property: background-color;

    @media (max-width: 992px) {
      border-radius: 20px;
      height: 40px;
      font-size: 18px;
      padding: 2px 20px;
    }
  }
  &:hover {
    background-color: var(--brand-light)
  }
}

.icon {
  & {
    margin-left: 0.5em;
  }
}