.section {
  & {
    position: relative;
    padding: 94px 0;
  }
}

.illustrations {
  & {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

.chumble {
  & {
    position: relative;
  }
}

.dashedline {
  & {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
  >svg>path {
    animation: dasharray 30s linear infinite;
  }
}

@keyframes dasharray {
  0% { stroke-dashoffset: 0 }
  100% { stroke-dashoffset: -600 }
}

.wrapper {
  & {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

.cards {
  & {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 auto;
  }
}

.text {
  & {
    max-width: 400px;
    margin: 35px 0;
  }
}

.title {
  & {
    margin-bottom: 18px;
  }
}